<div>
	<div>
		<form action='/confirm/<%=@ticket.get_ticket_id[0]%>' method='post'>
			<label>Código entrada: </label>
			<input type='text' name='id_ticket' value='<%=@ticket.get_ticket_id[0]%>' readonly> </br>

			<label>Nombre: </label>
			<input type='text' name='name' value='<%=@ticket.get_name%>' readonly></br>

			<label>Email: </label>
			<input type='text' name ='email' value='<%=@ticket.get_email%>' readonly></br>

			<label value='phone'>Teléfono: </label>
			<input type='text' name='phone' value='<%=@ticket.get_phone%>' readonly></br>

			<label value='film'>Pelicula: </label>
			<input type='text' name='film' value='<%=@ticket.get_film%>' readonly></br>

			<label value='price'>Precio total:  </label>
			<input type='text' name='price' value='<%=@ticket.get_price%>' readonly>
			<label> €</label></br>	

			<input type='submit' value='Confirmar'>
		</form>
	</div>
	<div>	
		<form action='/form' method='get' style='display:inline';>
			<input type='submit' value='Atrás'>
		</form>
	</div>
</div>