<div>
	<form action='/' method='get'>
		<p>Su entrada:</p>		
			<div>
				<label value='id_ticket'>Código entrada: <%=@ticket.get_ticket_id[0]%></label></br>
				<label value='name'>Nombre: <%=@ticket.get_name%></label></br>
				<label value='email'>Email: <%=@ticket.get_email%></label></br>
				<label value='phone'>Teléfono: <%=@ticket.get_phone%></label></br>
				<label value='film'>Pelicula: <%=@ticket.get_film%></label></br>
				<label value='price'>Precio total: <%=@ticket.get_price%>  €</label></br>	
			</div></br>		
		<input id='show_button' type='submit' value='Aceptar'>
	</form>
</div>